<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="contact__form">
          <div class="contact__form__title">
              <h2>Add Posts</h2>
          </div>
          <form action="#">
              <input type="text" placeholder="Your Id"  [(ngModel)]="id" name="id" #inputTitle>
              <input type="text" placeholder="Your Title"  [(ngModel)]="title" name="title" #inputTitle>
              <input type="text" placeholder="Your Text"  [(ngModel)]="text" name="text">
              <button type="submit" class="site-btn" (click)="addPost()">Add</button>
          </form>
          <button type="button" class="site-btn" (click)="focusTitle()">Focus</button>
      </div>
  </div>
</div>
